@import "tailwindcss";

    @font-face {
        font-family: "Windsol";
        src: url("/Windsol-Regular.ttf") format("truetype");
        font-display: swap;
    }

    @font-face {
        font-family: "EB_Garamond";
        src: url("/EB_Garamond/EBGaramond-VariableFont_wght.ttf") format("truetype");
        font-display: swap;
    }


@theme {
    --text-shadow-ex: 2px 2px #28372e,2px -2px #28372e,-2px 2px #28372e,-2px -2px #28372e,2px 0 #28372e,0 2px #28372e,-2px 0 #28372e,0 -2px #28372e;
    --text-shadow-eg: 2px 2px #09090A,2px -2px #09090A,-2px 2px #09090A,-2px -2px #09090A,2px 0 #09090A,0 2px #09090A,-2px 0 #09090A,0 -2px #09090A;
    
    --color-theme-green: #3B5435;
    --color-theme-green-darker: #22291f;
    --color-theme-cream: #DBC491;
    --font-garamond: "EB_Garamond", Garamond, serif;
}

@layer base {
    body {
        @apply font-[Windsol] text-theme-cream 
    }

    h1, h2 {
        @apply font-garamond uppercase
    }

    h1 {
        @apply py-4 text-3xl sm:text-4xl md:text-5xl text-center
    }
    
    h2 {
        @apply py-2 text-4xl md:text-4xl
    }

    a {
        @apply underline underline-offset-4 hover:decoration-wavy
    }
}



@layer components {
    p {
        @apply text-theme-cream py-4 text-lg md:text-2xl text-shadow-eg

    }
}
    .text-outline {
        @apply text-center p-4 text-xl md:text-3xl -translate-y-12 md:-translate-y-20 mt-4 text-theme-cream text-shadow-ex
    }

    .text-highlight {
        @apply underline underline-offset-4 decoration-wavy
    }
