---
import '../src/styles/global.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Parthenon</title>
	</head>
	
	<body class = "h-full w-full">
        <slot/>
		<div class = "bg-theme-green-darker text-center p-12 relative overflow-hidden">
			<img src = "top-paper.png" class = "absolute top-0 right-0 h-64"/>
			<img src = "single-vine.png" class = "absolute top-0 left-0 h-10/12"/>
				Made with ♡ by a team of teenagers from Hack Club
			<div class = "flex flex-row items-center justify-center">
				<a target = "_blank" href = "https://hackclub.com">Hack Club</a>
				・
				<a target = "_blank" href = "https://hackclub.com/clubs">Clubs</a>
				・
				<a target = "_blank" href = "https://hackclub.com/hackathons">Hackathons</a>
			</div>
		</div>
    </body>
</html>