---
import '../src/styles/global.css'
interface Props {
	page_title?: string
}
const images = import.meta.glob<{ default: ImageMetadata }>('../src/assets/*.{png,JPG,jpeg,JPG,jpg,svg}', { eager: true });

const { page_title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="A hackathon - as part of the Athena Initiative - for girls and nonbinary students in New York City, running from November 14th-16th.">
		<meta property="og:image" content={images["../src/assets/background.jpg"].default.src}/>
		<title>Parthenon {page_title ? " - " + page_title : ""}</title>
	</head>
	
	<body class = "h-full w-full relative">
        <slot/>
		<div class = "bg-theme-green-darker text-center p-12 relative overflow-hidden">
			<img src = {images["../src/assets/top-paper.png"].default.src} class = "absolute top-0 right-0 h-32 md:h-64"/>
			<img src = {images["../src/assets/single-vine.png"].default.src}  class = "absolute top-0 left-0 h-5/12 sm:h-10/12"/>
				Made with ♡ by a team of teenagers from Hack Club ・ <a target = "_blank" href = "https://github.com/hackclub/parthenon-recap">hackclub/parthenon-recap</a>

			<div class = "flex flex-row items-center justify-center">
				<a target = "_blank" href = "https://hackclub.com">Hack Club</a>
				・
				<a target = "_blank" href = "https://hackclub.com/clubs">Clubs</a>
				・
				<a target = "_blank" href = "https://hackclub.com/hackathons">Hackathons</a>
			</div>
		</div>
    </body>
</html>