---
interface Props {
    photos: {"url": string, "description": string}[]
    className?: string
}
const images = import.meta.glob<{ default: ImageMetadata }>('../src/assets/*.{png,JPG,jpeg,JPG,jpg,svg}', { eager: true });

const { photos, className } = Astro.props;
---

<div class = {`bg-white flex flex-col gap-3 p-4 w-64 shadow-lg ${className}`}>
    {photos.map((photo) => 
        <img src = {images["../src/assets/" + photo.url].default.src} alt = {photo.description} class = "h-36 w-full image-cover object-cover"/>
    )}
    <p class = "text-center">parthenon 2025!</p>
</div>