---
import Layout from "@/components/Layout.astro";
import Card from "@/components/Card.astro";
export const response = await fetch("https://api2.hackclub.com/v0.1/Parthenon/projects").then(r => r.json());
export interface Project {
    id: string;
    fields: {
        project_name: string;
        url_github: string;
        url_demo: string;
        description: string;
        thumbnail: string;
    }
}

const images = import.meta.glob<{ default: ImageMetadata }>('../assets/*.{png,JPG,jpeg,JPG,jpg,svg}', { eager: true });

---

<Layout page_title = "Projects" >
    <section class = "relative bg-linear-to-b from-black via-10% via-theme-green-darker to-theme-green p-10 md:p-20">
        <div class="absolute inset-0 opacity-40 z-0 w-full h-full pointer-events-none" style = {`background-image: url('${images['../assets/background.svg'].default.src}')`}></div>

        <a href = "/" class = "flex flex-row gap-4 items-center z-30 ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
            </svg>
            <span>back home</span>
        </a>

        <div class = "flex flex-col items-center justify-center z-30 text-center">
        <img src = {images["../assets/gold-vine.png"].default.src} class = "w-1/3 mx-auto"/>
        <h1>all parthenon projects</h1>
        <p>Totalling {response.length} submissions across 126 attendees.</p>
        <div class = "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-auto z-30">
            {response.map((project: Project) => 
                (
                    <div class = "flex flex-col">

                    <Card project = {project}/>
                    </div>
                )
            )}
        </div>
        <img src = {images["../assets/gold-vine.png"].default.src} class = "w-1/3 mx-auto rotate-180"/>
    </div>
    </section>
</Layout>